
<div class="topbar">

    <!-- LEFT SIDE -->

    <div class="topbar-left">
        @* <button class="btn new-adoption-btn">
            + New Adoption
        </button> *@
      

    

    </div>

    <!-- RIGHT SIDE -->

    <div class="topbar-right">

        <partial name="_LoginPartial" />

      

    </div>

</div>