<div class="topbar">

    <!-- LEFT SIDE -->

    <div class="topbar-left">
        <i class="bi bi-geo-alt"></i>
        <span class="shelter-name">
            Downtown Shelter
        </span>

        <div class="search-wrapper">

            <i class="bi bi-search"></i>

            <input type="text"
                   class="search-box"
                   placeholder="Search animals, adopters, adoptions..." />

        </div>

    </div>

    <!-- RIGHT SIDE -->

    <div class="topbar-right">

        <button class="btn new-adoption-btn">
            + New Adoption
        </button>

    </div>

</div>