@model IEnumerable<PetConnect.Domain.Entities.AnimalType>

@{
    ViewData["Title"] = "List of Animal Types";
}

<h2>View Animal Attributes</h2>
<hr />



<table class="table table-striped">
    <thead>
        <tr>
            <th>Animal Type</th>
            <th>Attributes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var animalAttribute in Model)
        {
            <tr>
                <td>@animalAttribute.Name</td>
                <td class="d-flex gap-2">
                    <a asp-action="ViewAttributes"
                           asp-route-Id="@animalAttribute.Id"
                           class="btn btn-sm btn-secondary">
                        Manage Attributes
                    </a>

                    <form asp-action="Delete" asp-controller="AnimalType"
                        asp-route-id="@animalAttribute.Id"
                        method ="post"
                        style-display="inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
